<h1>Detalle del Producto</h1>
<h3>Id: {{_id}}</h3>
<h3>Titulo: {{title}}</h3>
<h3>Descripcion: {{description}}</h3>
<h3>Código: {{code}}</h3>
<h3>Precio: {{price}}</h3>
<h3>Estado: {{status}}</h3>
<h3>Stock: {{stock}}</h3>
<h3>Categoria: {{category}}</h3>

<button id="addProductCart{{_id}}" onclick="addProductCart('{{_id}}')">Agregar al Carrito</button>
<script src="/js/product.js"></script>